@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');


// $themes: (
//   theme-light: #ffffff,
//   theme-dark: #000000
// ) !default;


$dark-grey: #282D30;
$light-grey: #cccccc;
$lighter: rgba(255, 255, 255, .1);
$darker: rgba(0, 0, 0, .1);
$darker2: rgba(0, 0, 0, .3);


* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
 #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex: 0 0 auto;
  }

  h1{
    height: unset;
    
  }

$themes: (
    'theme-light': (
        'bgContrast': white,
        'bgNormal': white,
        'bgPlus' : #183153,
        'bgPlus2' : #68b441,
        'textContrast': black,
        'textNormal': lighten(black,50%),
        'textNormal2': lighten(black,30%),
        'textInvers': white,
        'switchColor' : white,
        'switchIconColor': #ffc000,
        'bgInput': white,
        'borderInput': darken(white, 30%),
        'borderInput2': lighten(black, 30%),
        'borderInput3': lighten(black, 70%),
        'iconColorBlue': white,
        'iconColorRed': white,
        'iconColorWhite': white,
        'allTimeRed': #dc3545,

    
    ),
    'theme-dark': (
        'bgContrast': black,
        'bgNormal': lighten(black,10%),
        'bgPlus': black,
        'bgPlus2' : #68b441,
        'textContrast': white,
        'textNormal': darken(white, 30%),
        'textNormal2': darken(white, 30%),
        'textInvers': white,
        'switchColor' : darken(white, 80%),
        'switchIconColor': #ffc000,
        'bgInput': darken(white, 70%),
        'borderInput': transparent,
        'borderInput2': darken(white, 30%),
        'borderInput3': darken(white, 70%),
        'iconColorBlue': #0d6efd,
        'iconColorRed': #dc3545,
        'iconColorWhite': white,
        'allTimeRed': #dc3545,


    ),
);

@mixin theme($name, $colorArray) {
    $bgContrast: map-get($colorArray, 'bgContrast');
    $bgNormal: map-get($colorArray, 'bgNormal');
    $bgPlus: map-get($colorArray, 'bgPlus');
    $bgPlus2: map-get($colorArray, 'bgPlus2');
    $textContrast: map-get($colorArray, 'textContrast');
    $textNormal: map-get($colorArray, 'textNormal');
    $textNormal2: map-get($colorArray, 'textNormal2');
    $textInvers: map-get($colorArray , 'textInvers' );
    $switchColor: map-get($colorArray , 'switchColor' );
    $switchIconColor: map-get($colorArray , 'switchIconColor' );
    $bgInput: map-get($colorArray , 'bgInput' );
    $borderInput: map-get($colorArray , 'borderInput' );
    $borderInput2: map-get($colorArray , 'borderInput2' );
    $borderInput3: map-get($colorArray , 'borderInput3' );
    $iconColorBlue: map-get($colorArray , 'iconColorBlue' );
    $iconColorRed: map-get($colorArray , 'iconColorRed' );
    $iconColorWhite: map-get($colorArray , 'iconColorWhite' );
    $allTimeRed: map-get($colorArray , 'allTimeRed' );


    header.#{$name}{
        background-color: $bgContrast;
        color: $textContrast;
        .logo{
            background-color: $bgPlus;
        }
        label{
            color: $textNormal;
        }
        

        .authcont{
            &-user-icon{
                background-color: $bgPlus2;
                color: $textInvers;
            }
            &-text{
                color: $textNormal;
            }
        }
            
        .user-icon{
            color: $bgPlus2;
        }
    }
    footer.#{$name}{
        background-color: $bgPlus;
        
        padding-top: 3rem;
        padding-bottom: 3rem;
        .lang-cont{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $textInvers;
            label{
                color: $textInvers;
            }
            .lang-icon{
                margin-right: .5rem;
            }
            .langselect{
                padding: .2rem;
                margin-left: .3rem;
                border-radius: 5px;
                background-color: $bgInput;
                color: $textContrast;
                border: solid 1px $borderInput;
            }
    
        }
    }

    .#{$name}{

        
        background-color: $bgNormal;

        .uploadContainer{
            border: 1px solid $borderInput3;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius: 5px;
        }

        .defaultImage{
            color: $bgPlus2;
        }

        .error-icon{
            display:flex;
            justify-content: center;
            color: $allTimeRed;
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        h1{
            color: $textNormal;
        }

        label{
            color: $textContrast;
        }

        .color-blue{
            color: $iconColorBlue
        }
        .color-white{
            color: $iconColorWhite
        }
        .color-red{
            color: $iconColorRed
        }
        .paginselect{
            background-color: $bgInput;
            color: $textContrast;
            border: solid 1px $borderInput;
        }
        .search-input{
            background-color: $bgInput;
            color: $textContrast;
            border: solid 1px $borderInput;
        }

        .switch{
            $borderWidth : 3px;
            background-color: $switchColor;
            padding: $borderWidth;
            border-radius: calc((1.5rem + $borderWidth*2) / 2);
            position: relative;
            display: flex;
            width: calc(3rem + $borderWidth*2);
            color: $switchIconColor;
            input{
                display: none;
            }
            @keyframes toggleanim {
                0% {
                    transform: translate(0);
                    animation-timing-function: ease-out;
                }
                
                100% { 
                    transform: translate(1.5rem); 
                }
            }
            @keyframes toggleanimback {
                0% {
                    transform: translate(1.5rem);
                    animation-timing-function: ease-out;
                }
                
                100% { 
                    transform: translate(0); 
                }
            }
            .toggle{
                position: absolute;
                left: $borderWidth;
                top: $borderWidth;
                background-color: $bgPlus;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: .75rem;
                animation: toggleanimback both .3s ease-in;
                
                &.active{

                    
                    animation: toggleanim both .3s ease-in;
                }
            }
            .icon{
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
        .calsel, .select{
            background-color: $bgInput;
            border: solid 1px $borderInput;
            &--def-item-cont{
                &--input{
                    color: $textContrast;
                    background-color: $bgInput;
                }
                .select-btn{
                    background-color: transparent;
                    color: $textNormal;
                }
            }
            ul{
                border: solid 1px $borderInput;
                background-color: $bgInput;
                color: $textContrast;
                li{
                    &:hover{
                        background-color: $bgPlus;
                        color: $textInvers;
                    }
                }
            }
        }
        .input-standart{
            border: solid 1px $borderInput;
            background-color: $bgInput;
            color: $textContrast;
        }
        .calendar{
            border: solid 1px $borderInput;
            background-color: $bgInput;
            
            &--def-item-cont{
                &--input{
                    color: $textNormal;
                    background-color: $bgInput;
                    color: $textContrast;
                }
                .select-btn{
                    background-color: $bgInput;
                    color: $textNormal;
                }
            }
            &-body{
                border: solid 1px $borderInput;
                background-color: $bgInput;
                color: $textContrast;
                .control-elements{
                    select{
                        background-color: $bgNormal;
                        color: $textContrast;
                        border: solid 1px $borderInput;
                    }
                }
            }
            &-day{
                background-color: $bgInput;
                &.active{
                    background-color: $bgPlus;
                    color: $textInvers;
                }
                &.disactive{
                    color: $textNormal;
                    background-color: $bgInput;
    
                }
    
            }
            .control{
                &-right{
                    &.desactive{
                        color: $light-grey;
                    }
                }
            }
        }
        fieldset.scheduler-border{
            border: 1px solid $borderInput3;
        }
        legend.scheduler-border{
            background-color: $bgNormal;
            color: $textContrast;
        }
        
        .table-cont{
            thead{
                color: $textContrast
            }
            tbody{
                color: $textNormal2;
                border-top: $borderInput2 solid 1px;
                border-bottom: $borderInput2 solid 1px;
            }
        }
    }

  }

  @each $theme, $color in $themes {
    @include theme($theme, $color);
  }





.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

$size_index: 0.0625;
$font_size: (
    '24px': calc(24rem *  $size_index),
    '20px': calc(20rem *  $size_index),
    '26px': calc(26rem *  $size_index),
    '36px': calc(36rem * $size_index),
    '48px': calc(48rem * $size_index),
    '18px': calc(18rem * $size_index),
    '288px': calc(288rem * $size_index),
    '14px': calc(14rem * $size_index),
    '12px': calc(12rem * $size_index),
    '96px': calc(96rem * $size_index),
    );



@mixin default-select {

    display: flex;

    flex-direction: column;
    
    border-radius: 5px;
    position: relative;

    &--def-item-cont{
        display: flex;
        align-items: stretch;
        
        &--input{
        //   flex-grow: 2;
          padding: .3rem;
          border-radius: 5px;
         
          
          cursor: pointer;
          width: calc(100% - 37px);
        }
        .select-btn{
            
            border: 0;
            padding-left: .7rem;
            padding-right: .7rem; 
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
            
        }
    }

    ul{
        position: absolute;
        top: 2.4rem;
        left: -1px;
        
        border-radius: 5px;
        width: calc(100% + 2px);
        padding: 0;
        
        max-height: 30vh;
        overflow-y: auto;
        z-index: 12;
        li{
            list-style: none;
            width: 100%;
            cursor: pointer;
            padding: .5rem;
            
        }
    }
   
}
.calsel{
    @include default-select;

    

    width: 100%;
    font-size: .8rem;
    margin-left: .2rem;
    margin-right: .2rem;
    &--def-item-cont{
        &--input{
            display: flex;
            align-items: center
        }
    }
}

.select{
   @include default-select;

//    background-color: $white;
//    border: solid 2px $grey;

   width: 100%;
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

input{
    border: 0;

    
}

.input-standart{
    display: flex;
    width: 100%;

    border-radius: 5px;
    padding: .3rem;
    font-size: 1.2rem;
    color: $dark-grey;
    margin-bottom: 1rem;
}

header{
   
    padding: .5rem;
   
    min-height: 3rem;
    display: flex;
    .logo-cont{
        display: flex;

    }
    .logo{
        font-size: 1.5rem;
        font-weight: bold;

        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 5px;
        a{
            color: $white;
            text-decoration: none;
            span{
                font-weight: normal;
            }
        }
    }
    
}



main{
    min-height: calc(100vh - 10rem - 18px);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.calendar{
    display: flex;
    width: 100%;
    flex-direction: column;

    border-radius: 5px;
    position: relative;

    margin-bottom: 1rem;
    &--def-item-cont{
        display: flex;
        align-items: stretch;
        
        
        &--input{
        //   flex-grow: 2;
            width: calc(100% - 37px);
            padding: .3rem;
            font-size: 1.2rem;
            border-radius: 5px;

          cursor: pointer;
        }
        .select-btn{
           
            border: 0;
            padding-left: .7rem;
            padding-right: .7rem; 
            display: flex;
            align-items: center;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
            
        }
    }

    .calendar{
        &-body{
            position: absolute;
            top: 2.4rem;
            left: -1px;

            border-radius: 5px;
            width: calc(100% + 2px);
            padding: 0;
            
            z-index: 10;
            display: flex;
            flex-direction: column;

            padding: .5rem;
        }
        &-week{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &-day{
            width: 2rem;
            height: 2rem;
            margin: .2rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
           
        }
        &-weektitles{
            display: flex;
            justify-content: center;

        }
        &-weekdayname{
            width: 2rem;
            height: 2rem;
            margin: .2rem;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
    }
}

.control{
    &-elements{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left{
        padding: .2rem;
        margin-right: .3rem;

    }
    &-home{
        padding: .2rem;
        margin-right: .3rem;
        margin-left: .3rem;
    }
    &-right{
        padding: .2rem;
        margin-left: .3rem;
       
    }
}

fieldset.scheduler-border {
    
    padding: 1rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: none;
    box-shadow:  none;
    border-radius: 5px;
    position: relative;

}

legend.scheduler-border {
       border-bottom:none;
    position: absolute;
    left: 10px;
    top: -.8rem;
    font-size: 1rem;

    width: auto;

}

.button-container{
    display: flex;
    justify-content: center;
}
.btn{
    margin-left: .5rem;
    margin-right: .5rem;
}

.input-remember{
    margin-bottom: 1rem;
    input{
        margin-right: .5rem;
    }
}

.authcont{
    display: flex;
    &-text{
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
    }
    &-user-icon{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 1.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: .5rem;
        
    
    }
    .user-icon{
        font-size: 2.2rem;
        margin-right: .5rem;
        line-height: 2.2rem;
        
    }

}

.flex-right{
    display: flex;
    justify-content: flex-end;
}

.table-cont{
    margin-bottom: .5rem;
    // max-width: 720px;
    // overflow: scroll;
    width: 1110px;

    th{
        padding: .5rem;
        max-width: 7vw;
        

        .title{
            
            display: flex;
            align-items: center;
            .text{
                // max-width: calc(8.3vw - 14px);
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
                overflow: hidden;
            }
            .arrow-cont{
                width: 14px;
            }

            &:hover{
                cursor: pointer;
            }
        }
        .arrow{
            font-size: .8rem;
            margin-left: .2rem;
        }
    }
    tbody{
       

        
        td{
            
           
            padding: .3rem;
            text-align: left;
            border-bottom: solid 1px $darker2;
            &.data{
                max-width: 7vw;
                 overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            }
            .but-cont{
                display: flex;
            }
        }
        font-size: .8rem;
        .dark{
            background-color: $darker;
        }
        .light{
            background-color: $lighter;
        }
    }
    
}

.pagination{
    display: flex;
    justify-content: center;
    &-item{
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.pagination{
    margin-bottom: 2rem;
    
}

.paginselect{
    padding: .2rem;
    margin-left: .3rem;
    margin-right: .3rem;
    border-radius: 5px;
}

.search-input{
    padding: .2rem;
    margin-left: .3rem;
    margin-right: 0;
    border-radius: 5px;
}

.above-table{
   
    margin-bottom: 1rem;
}

.lightbox{
    padding-top: 2.5rem;
    min-height: 30vh;
    height: auto;
    top: calc((100vh - 10rem - 3.5rem) / 2);
    .uploadImgCont{
        display: flex;
        justify-content: center;
        img{
            width: 10rem;
            height: 10rem;
            border-radius: 5rem;
            object-fit: cover;

        }
    }
    
    .buttons-container{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.uploadContainer{
    display: flex;
    align-items: center;
}

.defaultImage{
    font-size: 10rem;
}

.butUplCont{
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadedImage{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    object-fit: cover;
}

.table-cont tbody td.photoTd{
            text-align: center;
        font-size: 1.2rem;
    .photoTd-icon{

        cursor: pointer;

    }
}


.error-container{
    text-align: center;
}

.bottom-margin{
    margin-bottom: 1rem;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.text-align-left{
    text-align: left;
}

.table-container{
    width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 1024px){
    .text-align-right{
        text-align: center;
    }

    .text-align-left{
        text-align: center;
    }
}

.btn-block{
    width: 100%;
}
