@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');


// $themes: (
//   theme-light: #ffffff,
//   theme-dark: #000000
// ) !default;

$black: #020203;
$white: #ffffff;
$red: #E60000;
$dark-grey: #282D30;
$grey: #74798c;
$light-grey: #cccccc;
$light-bg: #f0f1f3;
$blue: #146ebe;

$themes: (
    'theme-light': (
        'bgContrast': white,
        'bgNormal': white,
        'bgPlus' : #183153,
        'textContrast': black,
        'textNormal': lighten(black,50%),
        'textInvers': white,
        'switchColor' : white,
        'switchToggleColor': #0fbeff,
        'switchIconColor': #ffc000,
        'bgInput': white,
        'borderInput': darken(white, 30%),



        // 'borderColor': 
    
    ),
    'theme-dark': (
        'bgContrast': black,
        'bgNormal': lighten(black,10%),
        'bgPlus': black,
        'textContrast': white,
        'textNormal': darken(white, 30%),
        'textInvers': white,
        'switchColor' : darken(white, 80%),
        'switchToggleColor': #0fbeff,
        'switchIconColor': #ffc000,
        'bgInput': darken(white, 70%),
        'borderInput': transparent,


    ),
);

@mixin theme($name, $colorArray) {
    $bgContrast: map-get($colorArray, 'bgContrast');
    $bgNormal: map-get($colorArray, 'bgNormal');
    $bgPlus: map-get($colorArray, 'bgPlus');
    $textContrast: map-get($colorArray, 'textContrast');
    $textNormal: map-get($colorArray, 'textNormal');
    $textInvers: map-get($colorArray , 'textInvers' );
    $switchColor: map-get($colorArray , 'switchColor' );
    $switchToggleColor: map-get($colorArray , 'switchToggleColor' );
    $switchIconColor: map-get($colorArray , 'switchIconColor' );
    $bgInput: map-get($colorArray , 'bgInput' );
    $borderInput: map-get($colorArray , 'borderInput' );


    header.#{$name}{
        background-color: $bgContrast;
        color: $textContrast;
        .logo{
            background-color: $bgPlus;
        }
        label{
            color: $textNormal;
        }
        .langselect{
            background-color: $bgInput;
            color: $textContrast;
            border: solid 1px $borderInput;
        }
    }
    footer.#{$name}{
        background-color: $bgPlus;
        color: $textContrast;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .#{$name}{
        background-color: $bgNormal;
        h1{
            color: $textNormal;
        }

        label{
            color: $textContrast;
        }

        .switch{
            $borderWidth : 3px;
            background-color: $switchColor;
            padding: $borderWidth;
            border-radius: calc((1.5rem + $borderWidth*2) / 2);
            position: relative;
            display: flex;
            width: calc(3rem + $borderWidth*2);
            color: $switchIconColor;
            input{
                display: none;
            }
            @keyframes toggleanim {
                0% {
                    transform: translate(0);
                    animation-timing-function: ease-out;
                }
                
                100% { 
                    transform: translate(1.5rem); 
                }
            }
            @keyframes toggleanimback {
                0% {
                    transform: translate(1.5rem);
                    animation-timing-function: ease-out;
                }
                
                100% { 
                    transform: translate(0); 
                }
            }
            .toggle{
                position: absolute;
                left: $borderWidth;
                top: $borderWidth;
                background-color: $switchToggleColor;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: .75rem;
                animation: toggleanimback both .3s ease-in;
                
                &.active{

                    
                    animation: toggleanim both .3s ease-in;
                }
            }
            .icon{
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
        .calsel, .select{
            background-color: $bgInput;
            border: solid 1px $borderInput;
            &--def-item-cont{
                &--input{
                    color: $textContrast;
                    background-color: $bgInput;
                }
                .select-btn{
                    background-color: transparent;
                    color: $textNormal;
                }
            }
            ul{
                border: solid 1px $borderInput;
                background-color: $bgInput;
                color: $textContrast;
                li{
                    &:hover{
                        background-color: $bgPlus;
                        color: $textInvers;
                    }
                }
            }
        }
        .input-standart{
            border: solid 1px $borderInput;
            background-color: $bgInput;
            color: $textContrast;
        }
        .calendar{
            border: solid 1px $borderInput;
            background-color: $bgInput;
            
            &--def-item-cont{
                &--input{
                    color: $textNormal;
                    background-color: $bgInput;
                    color: $textContrast;
                }
                .select-btn{
                    background-color: $bgInput;
                    color: $textNormal;
                }
            }
            &-body{
                border: solid 1px $borderInput;
                background-color: $bgInput;
                color: $textContrast;
                .control-elements{
                    select{
                        background-color: $bgNormal;
                        color: $textContrast;
                        border: solid 1px $borderInput;
                    }
                }
            }
            &-day{
                background-color: $bgInput;
                &.active{
                    background-color: $bgPlus;
                    color: $textInvers;
                }
                &.disactive{
                    color: $textNormal;
                    background-color: $bgInput;
    
                }
    
            }
            .control{
                &-right{
                    &.desactive{
                        color: $light-grey;
                    }
                }
            }
        }
        fieldset.scheduler-border{
            border: 1px solid $bgInput;
        }
        legend.scheduler-border{
            background-color: $bgNormal;
            color: $textContrast;
        }
        

    }

  }

  @each $theme, $color in $themes {
    @include theme($theme, $color);
  }





.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

$size_index: 0.0625;
$font_size: (
    '24px': calc(24rem *  $size_index),
    '20px': calc(20rem *  $size_index),
    '26px': calc(26rem *  $size_index),
    '36px': calc(36rem * $size_index),
    '48px': calc(48rem * $size_index),
    '18px': calc(18rem * $size_index),
    '288px': calc(288rem * $size_index),
    '14px': calc(14rem * $size_index),
    '12px': calc(12rem * $size_index),
    '96px': calc(96rem * $size_index),
    );



@mixin default-select {

    display: flex;

    flex-direction: column;
    
    border-radius: 5px;
    position: relative;

    &--def-item-cont{
        display: flex;
        align-items: stretch;
        
        &--input{
        //   flex-grow: 2;
          padding: .3rem;
          border-radius: 5px;
         
          
          cursor: pointer;
          width: calc(100% - 37px);
        }
        .select-btn{
            
            border: 0;
            padding-left: .7rem;
            padding-right: .7rem; 
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
            
        }
    }

    ul{
        position: absolute;
        top: 2.4rem;
        left: -1px;
        
        border-radius: 5px;
        width: calc(100% + 2px);
        padding: 0;
        
        max-height: 30vh;
        overflow-y: auto;
        z-index: 12;
        li{
            list-style: none;
            width: 100%;
            cursor: pointer;
            padding: .5rem;
            
        }
    }
   
}
.calsel{
    @include default-select;

    

    width: 100%;
    font-size: .8rem;
    margin-left: .2rem;
    margin-right: .2rem;
    &--def-item-cont{
        &--input{
            display: flex;
            align-items: center
        }
    }
}

.select{
   @include default-select;

//    background-color: $white;
//    border: solid 2px $grey;

   width: 100%;
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

input{
    border: 0;

    
}

.input-standart{
    display: flex;
    width: 100%;

    border-radius: 5px;
    padding: .3rem;
    font-size: 1.2rem;
    color: $dark-grey;
    margin-bottom: 1rem;
}

header{
   
    padding: .5rem;
   
    min-height: 3rem;
    display: flex;
    .logo-cont{
        display: flex;

    }
    .logo{
        font-size: 1.5rem;
        font-weight: bold;

        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 5px;
        a{
            color: $white;
            text-decoration: none;
            span{
                font-weight: normal;
            }
        }
    }
    .lang-cont{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .langselect{
            padding: .2rem;
            margin-left: .3rem;
            border-radius: 5px;

        }

    }
}



main{
    min-height: calc(100vh - 6rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.calendar{
    display: flex;
    width: 100%;
    flex-direction: column;

    border-radius: 5px;
    position: relative;

    margin-bottom: 1rem;
    &--def-item-cont{
        display: flex;
        align-items: stretch;
        
        
        &--input{
        //   flex-grow: 2;
            width: calc(100% - 37px);
            padding: .3rem;
            font-size: 1.2rem;
            border-radius: 5px;

          cursor: pointer;
        }
        .select-btn{
           
            border: 0;
            padding-left: .7rem;
            padding-right: .7rem; 
            display: flex;
            align-items: center;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
            
        }
    }

    .calendar{
        &-body{
            position: absolute;
            top: 2.4rem;
            left: -1px;

            border-radius: 5px;
            width: calc(100% + 2px);
            padding: 0;
            
            z-index: 10;
            display: flex;
            flex-direction: column;

            padding: .5rem;
        }
        &-week{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &-day{
            width: 2rem;
            height: 2rem;
            margin: .2rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
           
        }
        &-weektitles{
            display: flex;
            justify-content: center;

        }
        &-weekdayname{
            width: 2rem;
            height: 2rem;
            margin: .2rem;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
    }
}

.control{
    &-elements{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left{
        padding: .2rem;
        margin-right: .3rem;

    }
    &-home{
        padding: .2rem;
        margin-right: .3rem;
        margin-left: .3rem;
    }
    &-right{
        padding: .2rem;
        margin-left: .3rem;
       
    }
}

fieldset.scheduler-border {
    
    padding: 1rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: none;
    box-shadow:  none;
    border-radius: 5px;
    position: relative;

}

legend.scheduler-border {
       border-bottom:none;
    position: absolute;
    left: 10px;
    top: -.8rem;
    font-size: 1rem;

    width: auto;

}

.button-container{
    display: flex;
    justify-content: center;
}
.btn{
    margin-left: .5rem;
    margin-right: .5rem;
}