@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

$black: #020203;
$white: #ffffff;
$red: #E60000;
$dark-grey: #282D30;
$grey: #74798c;
$light-grey: #cccccc;
$light-bg: #f0f1f3;
$blue: #146ebe;

body{
    background-color: $light-bg;
}

h1{
    text-align: center;
    color: $grey;
}

$size_index: 0.0625;
$font_size: (
    '24px': calc(24rem *  $size_index),
    '20px': calc(20rem *  $size_index),
    '26px': calc(26rem *  $size_index),
    '36px': calc(36rem * $size_index),
    '48px': calc(48rem * $size_index),
    '18px': calc(18rem * $size_index),
    '288px': calc(288rem * $size_index),
    '14px': calc(14rem * $size_index),
    '12px': calc(12rem * $size_index),
    '96px': calc(96rem * $size_index),
    );

@mixin default-select {
   
    display: flex;

    flex-direction: column;
    border: solid 2px $grey;
    border-radius: 5px;
    position: relative;
    background-color: $white;

    &--def-item-cont{
        display: flex;
        align-items: stretch;
        
        &--input{
        //   flex-grow: 2;
          padding: .3rem;
         
          color: $dark-grey;
          cursor: pointer;
          width: calc(100% - 37px);
        }
        .select-btn{
            background-color: transparent;
            border: 0;
            padding-left: .7rem;
            padding-right: .7rem; 
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
            
        }
    }

    ul{
        position: absolute;
        top: 2.4rem;
        left: -1px;
        border: solid 1px $grey;
        border-radius: 5px;
        width: calc(100% + 2px);
        padding: 0;
        background-color: $white;
        max-height: 30vh;
        overflow-y: auto;
        z-index: 12;
        li{
            list-style: none;
            width: 100%;
            cursor: pointer;
            padding: .5rem;
            &:hover{
                background-color: $light-grey;
            }
        }
    }
   
    }
.calsel{
    @include default-select;
    width: 100%;
    font-size: .8rem;
    margin-left: .2rem;
    margin-right: .2rem;
    &--def-item-cont{
        &--input{
            display: flex;
            align-items: center
        }
    }
}

.select{
   @include default-select;
   width: 100%;
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

input{
    border: 0;

    
}

.input-standart{
    display: flex;
    width: 100%;
    border: solid 2px $grey;
    border-radius: 5px;
    padding: .3rem;
    font-size: 1.2rem;
    color: $dark-grey;
    margin-bottom: 1rem;
}

header{
    background-color: $grey;
    padding: .5rem;
    color: $white;
    min-height: 3rem;
    display: flex;
    .logo-cont{
        display: flex;

    }
    .logo{
        font-size: 1.5rem;
        font-weight: bold;
        background-color: rgba(0,0,0, .2);
        padding-left: .5rem;
        padding-right: .5rem;
        border-radius: 5px;
        a{
            color: $white;
            text-decoration: none;
            span{
                font-weight: normal;
            }
        }
    }
    .lang-cont{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .langselect{
            padding: .2rem;
            margin-left: .3rem;
            border-radius: 5px;

        }

    }
}

footer{
    background-color: $grey;
    padding: .5rem;
    color: $white;

    height: 3rem;
}

main{
    min-height: calc(100vh - 6rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.calendar{
    display: flex;
    width: 100%;
    flex-direction: column;
    border: solid 2px $grey;
    border-radius: 5px;
    position: relative;
    background-color: $white;
    margin-bottom: 1rem;
    &--def-item-cont{
        display: flex;
        align-items: stretch;
        
        &--input{
        //   flex-grow: 2;
        width: calc(100% - 37px);
          padding: .3rem;
          font-size: 1.2rem;
          color: $dark-grey;
          cursor: pointer;
        }
        .select-btn{
            background-color: transparent;
            border: 0;
            padding-left: .7rem;
            padding-right: .7rem; 
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
            
        }
    }

    .calendar{
        &-body{
            position: absolute;
            top: 2.4rem;
            left: -1px;
            border: solid 1px $grey;
            border-radius: 5px;
            width: calc(100% + 2px);
            padding: 0;
            background-color: $white;
            z-index: 10;
            display: flex;
            flex-direction: column;

            padding: .5rem;
        }
        &-week{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &-day{
            width: 2rem;
            height: 2rem;
            margin: .2rem;
            background-color: $light-grey;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
            &.active{
                background-color: $dark-grey;
                color: $white;
            }
            &.disactive{
                color: $grey;
                background-color: $light-bg

            }

        }
        &-weektitles{
            display: flex;
            justify-content: center;

        }
        &-weekdayname{
            width: 2rem;
            height: 2rem;
            margin: .2rem;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
    }
}

.control{
    &-elements{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left{
        padding: .2rem;
        margin-right: .3rem;

    }
    &-home{
        padding: .2rem;
        margin-right: .3rem;
        margin-left: .3rem;
    }
    &-right{
        padding: .2rem;
        margin-left: .3rem;
        &.desactive{
            color: $light-grey;
        }
    }
}

fieldset.scheduler-border {
    border: 1px solid $grey;
    padding: 1rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: none;
    box-shadow:  none;
    border-radius: 5px;
    position: relative;

}

legend.scheduler-border {
       border-bottom:none;
    position: absolute;
    left: 10px;
    top: -.8rem;
    font-size: 1rem;
    background-color: $light-bg;
    width: auto;

}

.button-container{
    display: flex;
    justify-content: center;
}
.btn{
    margin-left: .5rem;
    margin-right: .5rem;
}